.header
  .header__left-content
    = link_to "#", class: "header__left-content__icon"
  .header__right-content
    = link_to "#", class: "header__right-content__btn" do
      Login
    = link_to "#", class: "header__right-content__btn" do
      SignUp